{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_calllearning/wizard

    Template to display a modal with next, previous, cancel and save buttons.
    Context variables required for this template:
    * title A cleaned string (use clean_text()) to display.
    * body HTML content for the body
    * footer HTML content for the footer
    Example context (json):
    {
        "title": "Example modal",
        "body": "Some example content for the body",
        "footer": "<div>Footer content</div>"
     }
}}
<div class="modal-wizard-action-button">
    <button type="button" class="btn-primary" data-action="open-modal" aria-label="{{#str}} openmodal, tool_calllearning {{/str}}" id="wb-{{uniqid}}">
        <span class="visually-hidden">{{#str}} openmodal, tool_calllearning {{/str}}</span>
       {{actionbuttontitle}}
    </button>
</div>
<div class="modal-wizard" aria-hidden="true">
</div>
{{#js}}
    require(['tool_calllearning/modal_wizard'], (ModalWizard) => {
        const actionButton = document.querySelector('#wb-{{uniqid}}');
        actionButton.addEventListener('click', (event) => {
            event.preventDefault();
            const modal = ModalWizard.create({
                title: '{{title}}',
                body: '{{body}}',
            }).then((modal) => {;
                modal.show();
            });

        });
    });
{{/js}}